{% extends "base.html" %}
{% load static %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="imie">Imię:</label><br>
        <input type="text" id="imie" name="imie"><br>

        <label for="nazwisko">Nazwisko:</label><br>
        <input type="text" id="nazwisko" name="nazwisko"><br>

        <label for="stanowisko">Stanowisko:</label><br>
        <input type="text" id="stanowisko" name="stanowisko"><br><br>

        <input type="submit" value="Zapisz">
    </form>
{% endblock %}