/.idea
/.idea
/.idea
/2024-2025/Ogloshenia/.idea
/2024-2025/ogloszenie/myenv
/2024-2025/tst/tst_app/__pycache__
/2024-2025/WWW_I/venv
/grzyby/.idea
/Ogloshenia/.idea
/ogloszenie/myenv
/ogloszenie/myenv
/ogloszenie/myenv
/2024-2025/ZadanieSprawdzajace/.idea
