body {
    margin: 0;
    padding: 0;
    background-color: #2e3d29;
    color: #f0f8f5 ;
}

h1 {
    text-align: center;
}

.container {
    text-align: center;
    border-radius: 1000px;
    box-shadow: 0 0 25px white;
    padding: 0px 660px;
}
d
