body {
    margin: 0;
    padding: 0;
    background-color: #2e3d29;
    color: #f0f8f5 ;
}

h1 {
    text-align: center;
}

.container {
    text-align: center;
    border-radius: 10px;
    border: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 0px 660px;
}

