<!DOCTYPE html>
<html lang="pl">
    <head>
        {% include "./head.html" %}
    </head>
    
    <body class="bg-gray-100 text-gray-800 font-sans">
    
        <header class="bg-blue-600 text-white py-4 shadow-md">
            <div class="container mx-auto">
                {% include "./header.html" %}
            </div>
        </header>
        
        <main class="container mx-auto my-8 p-4 bg-white shadow rounded">
            {% block content %}
            {% endblock %}
        </main>
        
        <footer class="bg-gray-800 text-gray-200 py-4 mt-8 ">
                {% include "./footer.html" %}
    
        </footer>
    </body>
</html>