<!DOCTYPE html>
<html lang="pl">
    <head>
        {% load static %}
        {% include "./head.html" %}
    </head>

    <body class="bg-gray-100 text-gray-800 font-sans relative min-h-screen">

        <header class="bg-blue-600 text-white py-4 shadow-md">
            <div class="container mx-auto">
                {% include "./header.html" %}
            </div>
        </header>

        <main class="container mx-auto my-8 p-4 bg-white shadow rounded">
            {% block content %}
            {% endblock %}
            <img class="" src="{% static 'istockphoto-1366627298-612x612.jpg' %}" alt="Image">
        </main>

        <footer class="bg-gray-800 text-gray-200 py-4 mt-auto absolute bottom-0 left-0 w-full">
                {% include "./footer.html" %}
        </footer>
    </body>
</html>